*{
    box-sizing:border-box;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightgray;
    color:black;
    margin: 1.5px;
    padding: 1px;
}

header{
    background-color:lightslategray;
    color: black;
    text-align: center;
    padding: 30px;
}

header h1{
    color:whitesmoke;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    font-weight:500;
}

main {
    padding: 20px;
}

section {
    background-color:lightslategrey;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
}

h2 {
    color:black;
    font-weight: 400;
    text-align: center;
}

#labs-intro {
    color:whitesmoke;
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

p {
    font: size 1.035px;;
    line-height: 1.6;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 5px;
}

ul {
    padding-left: 20px;

}

li{
    list-style-type: square;
    margin-bottom: 12px;
}

#ab{
    background-color: whitesmoke;
    width: 300px;
    color:whitesmoke;
}
